.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #1f1f1f;
}

.dark-mode .card {
    background-color: #1e1e1e;
    border-color: #333333;
}

.dark-mode .btn-dark {
    background-color: #333333;
}

.dark-mode a.nav-link {
    color: #ffffff;
}

.dark-mode .card-title,
.dark-mode .card-text {
    color: #ffffff;
}

.dark-mode .btn-dark:hover {
    background-color: #555555;
}

body, .navbar, .card, .btn-dark, a.nav-link, .card-title, .card-text {
    transition: background-color 0.3s ease, color 0.3s ease;
}