{% extends "base.html" %}

{% block content %}
<section class="py-5">
  <div class="container">
  	<div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center">
          <h2 class="display-5 fw-bold">About</h2>
          <span class="text-muted">Why did I create ...this?</span>
          <p class="lead">
            Hi! I'm a student, and into tech. 
            So I Have a raging caffeine addiction.

            A lot of my friends do as well, and as is known, students are poor.
            Due to the annoying discount practices of czech retailers, the 'normal' price of everything is usually stupid high, so I created this website to help us all out.
            
            I am also a masochist, and never did web dev before, so I decided to learn it by creating this monstrosity.
            <a href="https://github.com/pointandlaugheveryone/" class="link">You can follow me on github if you want!</a>
          </p>
        </div>
      </div>
	</div>
  </div>
</section>
{% endblock %}